{{ '{% ' }} extends '@kinetic/block/block.html.twig' {{ ' %}' }}
  {{ '{# ' }} example embed {{ '#}' }}
  {{ '{% ' }} embed 'kinetic:{{ component_machine_name }}' with {prop: 'value', _slot_one: content.field_items} only {{ '%}' }}
      {{ '{%' }} block _slot_one {{ '%}' }}
        {{ '{{ ' }} _slot_one {{ ' }}' }}
      {{ '{%' }} endblock {{ '%}' }}
  {{ '{% ' }} endembed {{ '%}' }}
{{ '{% ' }} endblock {{ ' %}' }}
