Drupal.behaviors.kinetic{{ component_machine_name|title|replace({'-': ''}) }} = {
  attach: function attach(context) {
    const {{ component_machine_name|title|replace({'-': ''}) }}s = once('{{ component_machine_name }}', '[data-component-id="kinetic:{{ component_machine_name }}"]', context);
    {{ component_machine_name|title|replace({'-': ''}) }}s.forEach(({{ component_machine_name|title|replace({'-': ''}) }}) => {
      // do stuff.
    });
  },
};
